.add-contact-button {
	position: sticky;
	display: flex;
	top: 0px;
	height: 70px;
	grid-row: content-top / header-top;
	grid-column: content-mid / content-end;
	background-color: #fff;
	
}
.add-contact-button p{
	display: none;
}
.add-contact-button button {
	display: flex;
	height: 60px;
	width: 60px;
	align-self: end;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	background-color: #b6e4fd;
	transition: background-color 0.3s ease;
}



@media (min-width: 992px) {
	.add-contact-button {
		grid-row: content-mid / content-bottom;
		grid-column: content-start / content-mid;
		justify-self: center;

	}
	.add-contact-button button {
		width: 170px;
		justify-content: space-evenly;
	}
	.add-contact-button button:hover {
		background-color: #ade0fc;
	}
	.add-contact-button p {
		display: flex;
		
	}
}