.search-field {
	position: sticky;
	top: 0px;
	width: stretch;
	min-width: 195px;
	display: flex;
	align-items: end;
	grid-column: content-start / content-mid;
	grid-row: content-top / header-top;
	padding-right: 10px;
	background-color: #fff;
}
.search-field input {
	height: 60px;
	width: stretch;
	padding-left: 37px;
	border-radius: 10px;
	border: none;
	font-size: 16px;
	line-height: 60px;
	background: url('../../assets/search.svg');
	background-color: #f7f7f7;
	background-position: 10px 50%;
	background-repeat: no-repeat;
	transition: background-color 0.3s ease;
}

@media (min-width: 992px) {
	.search-field {
		grid-column: content-mid / content-end;
		grid-row: content-top / header-top;
		padding-right: 0;
	}
	.search-field input:hover {
		background-color: #eeeeee;
	}
}
