/* reset */
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
img {
	height: auto;
}
input,
button,
textarea,
select {
	font-family: inherit;
}
button {
	border: none;
	cursor: pointer;
}
textarea {
	resize: vertical;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset */

/* content */
.main {
	font-family: 'Inter', sans-serif;
	display: block;
}
/* search row */
.search-container {
	display: flex;
	margin: 20px;
	justify-content: space-between;
	align-items: center;
}
.search-field {
	width: stretch;
    min-width: 195px;
}
.search-field input {
	height: 60px;
	width: stretch;
    
	padding-left: 37px;
	margin-right: 10px;
	border-radius: 10px;
	border: none;
	font-size: 16px;
	line-height: 60px;
	background: url('./assets/search.svg');
	background-color: #f7f7f7;
	background-position: 10px 50%;
	background-repeat: no-repeat;
}
.add-contact-button button {
	display: flex;
	width: 60px;
	height: 60px;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	background-color: #b6e4fd;
}
/* search row */

/* contacts container */
/* contact header */
.contacts-container {
	margin-top: 10px;
    min-width: 290px;
}
.contacts-header-container {
	display: flex;
	font-size: 14px;
	padding-left: 10px;
	align-items: center;
	justify-content: space-between;
}
.contacts-header h1 {
	margin-left: 20px;
	margin-bottom: 20px;
}
.contacts-header-sorting-button {
	margin-right: 30px;
	transform: translate(0, -35%);
}
.contacts-header-sorting-button button {
	background-color: rgba(0, 0, 0, 0);
}
/* contact header */
/* contact item */
.contact-items {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.contact-item {
	width: stretch;
	height: 120px;
	padding: 20px;
	margin: 0 20px;
	margin-bottom: 15px;
	border-radius: 8px;
	background-color: #f7f7f7;
}
.first-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
}
.second-line {
	display: flex;
	align-items: center;
	margin-top: 10px;
	font-size: 18px;
}
.copy-button {
	margin-left: 5px;
}
/* contact item */
/* contacts container */
/* content */
